.list__wrapper {

    display: flex;
    flex-wrap: wrap;
    /* gap: 20px 0; */
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 30px

}

/* .list__wrapper:last-child {

    justify-content: flex-start;
} */