.cards_wrapper {
    border: 1px solid #fff;
    padding: 10px;
    max-width: 100%;
    gap: 10px 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
  }
  .card img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .card p {
    flex-grow: 2;
    margin-bottom: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 300;
    text-shadow: red 1px 0 10px;
  }
  .card h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: #fc0 1px 0 10px;
  }